.middleFormCate {
  display: flex;
  flex-direction: row;

  align-items: center;
  padding: 10px;
  background-color: #fafbff;
  border-radius: 10px;
  border: 1px solid #e2ecf9 !important;

  flex-shrink: 0;
}

.filterFormCate {
  display: flex;
  flex-direction: row;

  align-items: center;
  padding: 10px;
  background-color: #fafbff;
  border-radius: 10px;
  border: 1px solid #e2ecf9 !important;

  flex-shrink: 0;
}

#contentFormCate {
  flex-grow: 1;
  height: calc(100vh - 400px);
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: #fafbff;
  border-radius: 10px;
  border: 1px solid #e2ecf9 !important;
  gap: 10px;
}
.summary-info {
  flex: 1 1 0;
  display: flex;
  text-align: center;

  align-items: center;
  padding: 0px, 10px, 10px, 10px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #e2ecf9 !important;
  flex-grow: 1;

  flex-direction: column;
}

.summary-info .dx-textbox {
  width: 100%;
}

.summary-item-cate {
  flex: 1 1 0;
  display: flex;
  text-align: center;

  align-items: center;
  padding: 0px, 10px, 10px, 10px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #e2ecf9 !important;
  flex-grow: 1;

  flex-direction: column;
}

.summary-item-cate .label {
  font-size: 20px;
  color: #000000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;

  background-color: #fafbff;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.summary-item-cate .value {
  font-size: 40px;
  font-weight: bold;
  height: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary-item-cate .value .total {
  color: #154add;
}

.filterFormCate {
  display: flex;

  align-items: center;
  padding: 10px;
  background-color: #fafbff;
  border-radius: 10px;
  border: 1px solid #e2ecf9 !important;
  flex-direction: row;
  flex-shrink: 0; /* 콘텐츠 크기에 맞게 변하지만, 남은 공간을 차지하지 않음 */
}

.inspection-options {
  flex-grow: 1;
  flex-direction: row;
  display: flex;
  justify-content: right;
  gap: 10px;
}

div#inspectionTypeContainer {
  display: flex;
}

div#inspectionTypeContainer .dx-widget.dx-collection {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.dx-radiobutton {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.barcode-section {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  width: 20%;
}

.barcode-section label {
  margin-right: 10px;
  font-size: 14px;
  flex-shrink: 0;
}

#txtBoxBarcode {
  /* width: 100px; */
  padding: 5px;
  font-size: 14px;
  flex-grow: 1;
}

/* 동적박스 */
.sorter-box-container {
  display: flex;
  justify-content: space-between;
}

.sorter-box {
  width: 15.5%;
  height: 48%;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.sorter-box {
  width: 15.5%;
  height: 48%;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.sorter-box-last {
  background-color: #f1f1f1;
}

.sorter-box .title {
  background-color: #007bff;
  color: white;
  padding: 10px;
  font-weight: bold;
  height: 20%;
  border-radius: 8px 8px 0 0;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 2vw;
}

.sorter-box .title-last {
  background-color: #e0e0e0;
  color: black;
  padding: 10px;
  font-weight: bold;
  height: 20%;
  border-radius: 8px 8px 0 0;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 2vw;
}

.sorter-box .type {
  margin: 10px 0;
  /* font-weight: bold; */
  flex-grow: 1;
  display: flex;
  margin-left: 10px;
  font-size: 1.5vw;
  align-items: center;
}

.sorter-box .type-con {
  font-weight: bold;
  display: flex;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  font-size: 3vw;
}

div#dynamicBoxContainer {
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
  height: 100%;
}

/* 반응형 스타일 PAD 퍼블 대비*/
@media (max-width: 768px) {
}

@media (min-height: 769px) {
}
