<link
  rel="stylesheet"
  href="./src/views/field/fieldMiddleCategory/fieldMiddleCategory.css?b=1" />

<div class="work-order-content">
  <div class="header-inputs">
    <label>상품코드</label>
    <input
      id="skuCode"
      type="text"
      placeholder="상품코드를 입력해주세요"
      class="product-code-input" />
    <label>작업차수</label>
    <div id="workDateContainer"></div>
    <div class="stats">
      <span>입수: 0</span>
      <span>미처리: 0</span>
      <span>전체진행: 0 / 0</span>
    </div>
  </div>
  <div class="sorter-box-container">
    <div id="dynamicBoxContainer"></div>
  </div>
</div>
