<link
  rel="stylesheet"
  href="./src/views/field/fieldMiddleCategory/fieldMiddleCategory.css?b=4" />

<div class="work-order-content">
  <div class="middleFormCate">
    <div class="summary-info">
      <div id="orderNumberContainer"></div>
      <div id="boxNumberContainer"></div>
      <div id="waveContainer"></div>
    </div>

    <div class="summary-item-cate">
      <div class="label">입수</div>
      <div class="value">
        <span class="current">1</span>
      </div>
    </div>
    <div class="summary-item-cate">
      <div class="label">미처리</div>
      <div class="value">
        <span class="current">0</span>/<span class="total">193</span>
      </div>
    </div>
    <div class="summary-item-cate">
      <div class="label">전체진행</div>
      <div class="value">
        <span class="current">0</span>/<span class="total">233</span>
      </div>
    </div>
  </div>
  <div id="contentFormCate">
    <div id="dynamicBoxContainer"></div>
  </div>
</div>
