<link
  rel="stylesheet"
  href="./src/views/field/fieldChecker/fieldChecker.css?a=1" />

<div class="work-order-content">
  <div class="middleFormChecker">
    <div class="summary-info">
      <div id="orderNumberContainer"></div>
      <div id="boxNumberContainer"></div>
      <div id="waveContainer"></div>
      <div id="shipperContainer"></div>
    </div>

    <div class="summary-item">
      <div class="label">택배유형/포장</div>
      <div class="value">
        <span class="current">1</span>/<span class="total">48</span>
      </div>
    </div>

    <div class="summary-item">
      <div class="label">상품개수</div>
      <div class="value">
        <span class="current">1</span>/<span class="total">48</span>
      </div>
    </div>
    <div class="summary-item">
      <div class="label">낱개수량</div>
      <div class="value">
        <span class="current">177</span>/<span class="total">193</span>
      </div>
    </div>
    <div class="summary-item">
      <div class="label">검수진행</div>
      <div class="value">
        <span class="current">12%</span>
      </div>
    </div>
  </div>

  <div class="filterFormChecker">
    <div class="barcode-section">
      <div id="txtBoxBarcode"></div>
    </div>

    <div class="inspection-options">
      <div id="inspectionTypeContainer"></div>
      <div
        id="inspectButton"
        class="dx-button btntype-c"></div>
      <div
        id="reissueButton"
        class="dx-button btntype-c"></div>
    </div>
  </div>

  <div id="contentFormChecker">
    <div id="workOrderGrid"></div>
  </div>
</div>
