<link
  rel="stylesheet"
  href="./src/views/field/fieldChecker/fieldChecker.css" />

<div class="checker-container">
  <div class="checker-header">
    <div id="orderNumberContainer"></div>
    <div id="boxNumberContainer"></div>
    <div id="waveContainer"></div>
    <div id="shipperContainer"></div>

    <div class="summary-group">
      <div id="deliveryTypeContainer"></div>
      <div id="productCountContainer"></div>
      <div id="unitCountContainer"></div>
      <div id="inspectionProgressContainer"></div>
    </div>
  </div>

  <div class="barcode-section">
    <label for="barcodeInput"><i class="icon-barcode"></i> 바코드</label>
    <div id="barcodeInputContainer"></div>
  </div>

  <div class="inspection-options">
    <div id="inspectionTypeContainer"></div>
    <div id="inspectButton"></div>
    <div id="reissueButton"></div>
  </div>

  <div class="grid-section">
    <div id="productGrid"></div>
  </div>

  <div class="pagination">
    <div id="paginationControls"></div>
  </div>
</div>
