<link
  rel="stylesheet"
  href="./src/views/exec/execReprint/execReprint.css?b=1" />

<div class="work-order-content">
  <div id="filterForm">
    <div
      id="dtBoxWork"
      class="filter-item"></div>
    <div
      id="selBoxBatch"
      class="filter-item"></div>

    <div
      id="txtBoxSearch"
      class="filter-item"></div>

    <div id="buttonsContainer">
      <button
        id="btnSearch"
        class="dx-button btntype-c"
        data-id="조회">
        조회
      </button>
      <button
        id="btnReprint"
        class="dx-button btntype-c"
        data-id="재발행">
        재발행
      </button>
    </div>
  </div>
  <div id="contentForm">
    <div
      id="workOrderGrid"
      class="workOrderGrid"></div>
  </div>
</div>
