<link
  rel="stylesheet"
  href="./src/views/field/fieldKiosk/fieldKiosk.css?a=2" />

<div class="work-order-content">
  <div class="headerFormKiosk">
    <div class="title"><span>냉동 2블럭</span></div>
    <!-- <button
      id="btnSetting"
      class="btntype-c">
      설정
    </button> -->
  </div>

  <div class="middleFormKiosk">
    <div class="summary-item">
      <div class="label">주문</div>
      <div class="value">
        <span class="current">1</span>/<span class="total">48</span>
      </div>
    </div>
    <div class="summary-item">
      <div class="label">품목</div>
      <div class="value">
        <span class="current">177</span>/<span class="total">193</span>
      </div>
    </div>
    <div class="summary-item">
      <div class="label">PCS</div>
      <div class="value">
        <span class="current">1,948</span>/<span class="total">2,211</span>
      </div>
    </div>
  </div>

  <div class="filterFormKiosk">
    <div class="barcode-section">
      <label for="barcode">바코드</label>
      <input
        type="text"
        id="barcode"
        placeholder="바코드를 스캔해주세요"
        disabled />
    </div>
    <div class="progress-bar-container">
      <div
        id="progressBar"
        class="progress-bar"></div>
      <div class="progress-label">91%</div>
    </div>
  </div>

  <div class="data-grid-container">
    <div id="workOrderGrid"></div>
  </div>
</div>
