<link
  rel="stylesheet"
  href="./src/views/field/fieldKiosk/fieldKiosk.css?a=3" />

<div class="work-order-content">
  <div class="headerFormKiosk">
    <span
      class="printstate"
      onclick="onClickKioskPrint()"
      >P</span
    >
    <div class="title"><span></span></div>

    <button
      id="btnSetting"
      class="btntype-c">
      설정
    </button>
  </div>

  <div class="middleFormKiosk">
    <div class="summary-item">
      <div class="label">지점</div>
      <div class="value">
        <span class="current"></span>/<span class="total"></span>
      </div>
    </div>
    <div class="summary-item">
      <div class="label">SSCC</div>
      <div class="value">
        <span class="current"></span>/<span class="total"></span>
      </div>
    </div>
    <div class="summary-item">
      <div class="label">PCS</div>
      <div class="value">
        <span class="current"></span>/<span class="total"></span>
      </div>
    </div>
  </div>

  <div class="filterFormKiosk">
    <div class="barcode-section">
      <div id="txtBoxBarcode"></div>
    </div>
    <div class="progress-bar-container-filedKiosk">
      <div
        id="progressBar"
        class="progress-bar"></div>
    </div>
  </div>

  <div id="contentFormKiosk">
    <div id="workOrderGrid"></div>
  </div>
</div>
