.headerFormKiosk {
  display: flex;

  align-items: center;
  padding: 10px;
  background-color: #fafbff;
  border-radius: 10px;

  flex-direction: row;
  border: 1px solid #e2ecf9 !important;

  text-align: center;

  flex-shrink: 0; /* 콘텐츠 크기에 맞게 변하지만, 남은 공간을 차지하지 않음 */
}

.title {
  font-size: 20px;
  font-weight: bold;
  flex-grow: 1;
}

.middleFormKiosk {
  display: flex;
  flex-direction: row;

  align-items: center;
  padding: 10px;
  background-color: #fafbff;
  border-radius: 10px;
  border: 1px solid #e2ecf9 !important;

  flex-shrink: 0; /* 콘텐츠 크기에 맞게 변하지만, 남은 공간을 차지하지 않음 */
}

.filterFormKiosk {
  display: flex;
  flex-direction: row;

  align-items: center;
  padding: 10px;
  background-color: #fafbff;
  border-radius: 10px;
  border: 1px solid #e2ecf9 !important;

  flex-shrink: 0; /* 콘텐츠 크기에 맞게 변하지만, 남은 공간을 차지하지 않음 */
}

.summary-item {
  flex: 1 1 0;
  display: flex;
  text-align: center;

  align-items: center;
  padding: 10px;
  background-color: #fafbff;
  border-radius: 10px;
  border: 1px solid #e2ecf9 !important;
  flex-grow: 1;

  flex-direction: column;
}

.summary-item .label {
  font-size: 14px;
  color: gray;
}

.summary-item .value {
  font-size: 24px;
  font-weight: bold;
}

.settings-btn {
  background-color: #f5f5f5;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.filterFormKiosk {
  display: flex;

  align-items: center;
  padding: 10px;
  background-color: #fafbff;
  border-radius: 10px;
  border: 1px solid #e2ecf9 !important;
  flex-direction: row;
  flex-shrink: 0; /* 콘텐츠 크기에 맞게 변하지만, 남은 공간을 차지하지 않음 */
}

.progress-bar-container {
  flex-grow: 1;
  height: 20px;
  background-color: #e0e0e0;
  margin: 15px 0;
}

.progress-bar {
  height: 100%;
  background-color: #007bff;
  width: 91%; /* Placeholder for progress percentage */
}

.progress-label {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 14px;
  color: white;
}

.barcode-section {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.barcode-section label {
  margin-right: 10px;
  font-size: 14px;
}

#barcode {
  width: 100%;
  padding: 5px;
  font-size: 14px;
}

.data-grid-container {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 10px;

  flex-direction: row;
}

/* 반응형 스타일 PAD 퍼블 대비*/
@media (max-width: 768px) {
}

@media (min-height: 769px) {
}
