<link
  rel="stylesheet"
  href="./src/views/exec/execItemStatus/execItemStatus.css?a=1" />

<div class="work-order-content">
  <div id="filterForm">
    <div
      id="dtBoxWork"
      class="filter-item"></div>
    <div
      id="selBoxBatch"
      class="filter-item"></div>
    <div id="buttonsContainer">
      <button
        id="btnSearch"
        class="dx-button btntype-c"
        data-id="조회">
        조회
      </button>
    </div>
  </div>
  <div id="contentForm">
    <div
      id="workOrderGrid"
      class="workOrderGridHalf"></div>
    <div
      id="workOrderGridDetail"
      class="workOrderGridHalf"></div>
  </div>
</div>
