<link
  rel="stylesheet"
  href="./src/views/exec/execOrd/execOrd.css" />

<div class="work-order-content">
  <div id="filterForm">
    <div id="workDateContainer"></div>
    <div id="workBatchContainer"></div>
    <div id="buttonsContainer">
      <button
        id="btnSearch"
        class="dx-button">
        조회
      </button>
      <button
        id="btnOrderReceive"
        class="dx-button">
        계획생성
      </button>
      <button
        id="btnPlan"
        class="dx-button">
        작업시작
      </button>
      <button
        id="btnManualChange"
        class="dx-button">
        차수 작업완료
      </button>
      <button
        id="btnWorkOrder"
        class="dx-button">
        전체 작업완료
      </button>
      <button
        id="btnEquipComplete"
        class="dx-button">
        작업취소
      </button>
    </div>
  </div>
  <div id="workOrderGrid"></div>
</div>
