/* 필터 영역 레이아웃 설정 */

#workDateContainer,
#workBatchContainer {
  margin-right: 15px;
}

#workOrderGrid {
  height: 100%;
}
.dx-datagrid {
  color: #333;
  line-height: inherit;
  height: calc(100vh - 190px);
  overflow-y: scroll;
}

#buttonsContainer {
  display: flex;
  margin-left: auto; /* 버튼들을 오른쪽으로 정렬 */
}

#buttonsContainer .dx-button {
  margin-left: 10px; /* 각 버튼의 왼쪽에만 간격 추가 */
}

#buttonsContainer .dx-button:first-child {
  margin-left: 0; /* 첫 번째 버튼은 왼쪽 간격 없음 */
}

#workOrderGrid {
  height: 100%;
}

/* 선택된 행의 배경 색상을 변경 */
.dx-row .dx-selection {
  background-color: #0000c2 !important; /* 원하는 색상으로 변경 */
  color: #ffffff; /* 선택된 행의 텍스트 색상 */
}

.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > td,
.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > tr > td,
.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > td,
.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > tr > td {
  background-color: #0000c2 !important; /* 원하는 색상으로 변경 */
  color: #ffffff; /* 선택된 행의 텍스트 색상 */
}

.dx-datagrid-rowsview .dx-row {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.dx-datagrid-borders
  > .dx-datagrid-rowsview.dx-last-row-border
  tbody:last-child
  > .dx-data-row:nth-last-child(2),
.dx-datagrid-borders
  > .dx-datagrid-rowsview.dx-last-row-border
  tbody:last-child
  > .dx-data-row:nth-last-child(2)
  > td {
  border-bottom-width: 1px;
}

/* 기본 타입의 모든 dx-button 스타일 변경 */
.dx-button.dx-button-default {
  /* background-color: #ffffff;
  color: #7189a6; 
  border-color: #dbe9f9 !important; */
}

/* 호버 시 색상 */
.dx-button.dx-button-default:hover {
  /* background-color: #eeeeee; */
}

/* 기본 타입의 모든 dx-button 스타일 변경 */
.btntype-a {
  background-color: #90be3b !important; /* 버튼 배경 색상 */
  color: #ffffff !important; /* 버튼 텍스트 색상 */
  border-color: #dbe9f9 !important;
}

.btntype-a:hover {
  background-color: #7fad2a !important; /* 버튼 배경 색상 */
  color: #ffffff !important; /* 버튼 텍스트 색상 */
  border-color: #dbe9f9 !important;
}

.btntype-b {
  background-color: #20aac5 !important; /* 버튼 배경 색상 */
  color: #ffffff !important; /* 버튼 텍스트 색상 */
  border-color: #dbe9f9 !important;
}

.btntype-b:hover {
  background-color: #0f99b4 !important; /* 버튼 배경 색상 */
  color: #ffffff !important; /* 버튼 텍스트 색상 */
  border-color: #dbe9f9 !important;
}

.btntype-c {
  background-color: #ffffff !important;
  color: #7189a6 !important;
  border-color: #dbe9f9 !important;
}

.btntype-c:hover {
  background-color: #eeeeee !important; /* 버튼 배경 색상 */
  color: #ffffff !important; /* 버튼 텍스트 색상 */
  border-color: #dbe9f9 !important;
}

/* 반응형 스타일 */
@media (max-width: 768px) {
  #filterForm {
    flex-direction: column;
    align-items: flex-start;
  }

  #workDateContainer,
  #workBatchContainer,
  #buttonsContainer {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .dx-button {
    width: 100%;
  }
}
