<link
  rel="stylesheet"
  href="./src/views/exec/execOrd/execOrd.css?a=3" />

<div class="work-order-content">
  <div id="filterForm">
    <div
      id="dtBoxWork"
      class="filter-item"></div>
    <div
      id="selBoxBatch"
      class="filter-item"></div>
    <div id="buttonsContainer">
      <button
        id="btnSearch"
        class="dx-button btntype-c"
        data-id="조회">
        조회
      </button>
      <!-- <button
        id="btnOrderReceive"
        class="dx-button btntype-c"
        data-id="계획생성">
        계획생성
      </button> -->
      <button
        id="btnPlan"
        class="dx-button btntype-a"
        data-id="작업지시">
        작업지시
      </button>
      <button
        id="btnManualChange"
        class="dx-button btntype-b"
        data-id="차수 작업완료">
        작업완료
      </button>
      <!-- <button
        id="btnWorkOrder"
        class="dx-button btntype-b"
        data-id="전체 작업완료">
        전체 작업완료
      </button> -->
      <button
        id="btnEquipComplete"
        class="dx-button btntype-b"
        data-id="작업취소">
        작업취소
      </button>
    </div>
  </div>
  <div id="contentForm">
    <div id="workOrderGrid"></div>
  </div>
</div>
