<link
  rel="stylesheet"
  href="./src/views/mast/mastItem/mastItem.css" />

<div class="work-order-content">
  <div id="filterForm">
    <label for="singleInput">검색</label>
    <input
      type="text"
      id="inputSearch"
      placeholder="검색" />
    <button
      id="btnSearch"
      class="dx-button btnSearch">
      조회
    </button>
    <button
      id="btnAdd"
      class="dx-button btnSearch">
      추가
    </button>
  </div>
  <div id="workOrderGrid"></div>

  <div id="dynamicPopup"></div>
</div>
