<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>EUC 목록</title>
    <link
      rel="stylesheet"
      href="./src/views/exec/execEuc.css?a=1133" />
  </head>
  <body>
    <div class="euc-container">
      <div class="euc-left-grid">
        <div id="leftGrid"></div>
      </div>
      <div class="euc-right-grid">
        <div id="rightGrid"></div>
        <div class="pagination">
          <button id="prevButton">PREV</button>
          <button id="nextButton">NEXT</button>
          <button id="exportButton">내보내기</button>
        </div>
      </div>
    </div>

    <script src="./src/views/exec/execEuc.js?a=3"></script>
  </body>
</html>
