<link
  rel="stylesheet"
  href="./src/views/dash/dashFac/dashFac.css?a=16" />

<div class="work-order-content">
  <div class="dashboard-container-fac">
    <div
      class="title-fac"
      onclick="onClickFac()">
      DAS 현황판
    </div>
    <div class="chart_container">
      <div id="todayChart"></div>
      <div id="weekChart"></div>
    </div>

    <div class="card-content-fac">
      <div class="card-stats-fac">
        <div class="stat-row-fac">
          <span class="stat-label-fac">PO</span>
          <div class="progress-bar-container-fac">
            <div
              id="progressBar_1"
              class="progress-bar-fac"></div>
          </div>
        </div>
        <div class="stat-row-fac">
          <span class="stat-label-fac">Ctn</span>
          <div class="progress-bar-container-fac">
            <div
              id="progressBar_2"
              class="progress-bar-fac"></div>
          </div>
        </div>
        <div class="stat-row-fac">
          <span class="stat-label-fac">Qty</span>
          <div class="progress-bar-container-fac">
            <div
              id="progressBar_3"
              class="progress-bar-fac"></div>
          </div>
        </div>
      </div>
      <div class="chart_cnt">
          <div id="gauge"></div>
      </div>          
    </div>    
  </div>
</div>
