<link
  rel="stylesheet"
  href="./src/views/dash/dashFac/dashFac.css?a=15" />

<div class="work-order-content">
  <div class="dashboard-container-fac">
    <div
      class="title-fac"
      onclick="onClickFac()">
      DAS 현황판
    </div>
    <div class="sumbox-fac">
      <div class="sumbox-title-fac">
        <div class="sumbox-title-2-fac">지점</div>
        <div class="sumbox-title-2-fac">SSCC</div>
        <div class="sumbox-title-2-fac">제품</div>
        <div class="sumbox-title-2-fac">PCS</div>
      </div>
      <div class="sumbox-con-fac">
        <div class="sumbox-con-2-fac">
          <div
            id="gaugeContainer_1"
            class="gauge-container-fac"></div>
        </div>
        <div class="sumbox-con-2-fac">
          <div
            id="gaugeContainer_2"
            class="gauge-container-fac"></div>
        </div>
        <div class="sumbox-con-2-fac">
          <div
            id="gaugeContainer_3"
            class="gauge-container-fac"></div>
        </div>
        <div class="sumbox-con-2-fac">
          <div
            id="gaugeContainer_4"
            class="gauge-container-fac"></div>
        </div>
      </div>
    </div>

    <div class="card-content-fac">
      <div class="card-stats-fac">
        <div class="stat-row-fac">
          <span class="stat-label-fac">지점</span>
          <div class="progress-bar-container-fac">
            <div
              id="progressBar_1"
              class="progress-bar-fac"></div>
          </div>
        </div>
        <div class="stat-row-fac">
          <span class="stat-label-fac">SSCC</span>
          <div class="progress-bar-container-fac">
            <div
              id="progressBar_2"
              class="progress-bar-fac"></div>
          </div>
        </div>
        <div class="stat-row-fac">
          <span class="stat-label-fac">제품</span>
          <div class="progress-bar-container-fac">
            <div
              id="progressBar_3"
              class="progress-bar-fac"></div>
          </div>
        </div>
        <div class="stat-row-fac">
          <span class="stat-label-fac">PCS</span>
          <div class="progress-bar-container-fac">
            <div
              id="progressBar_4"
              class="progress-bar-fac"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
