.dashboard-container-fac {
  /* padding-top: 20px; */
  width: 100%;
  /* max-width: 800px; */
  height: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.title-fac {
  margin-left: 10px;
  font-size: 2vw;
  font-weight: bold;
  flex-shrink: 0;
}

/* <div class="title-fac">DAS 현황판</div>
<div class="sumbox-fac">
  <div class="sumbox-title-fac">
    <div class="sumbox-title-1-fac"></div>
    <div class="sumbox-title-2-fac"></div>
    <div class="sumbox-title-3-fac">
      <div class="sumbox-title-3-sub-fac"></div>
      <div class="sumbox-title-3-sub-fac">
        <div class="sumbox-title-3-sub-1-fac"></div>
        <div class="sumbox-title-3-sub-2-fac"></div>
      </div>
    </div>
  </div>
  <div class="sumbox-con-fac">
    <div class="sumbox-con-1-fac"></div>
    <div class="sumbox-con-2-fac"></div>
    <div class="sumbox-con-3-fac"></div>
    <div class="sumbox-con-3-fac"></div>
  </div>
</div> */

.sumbox-fac {
  display: flex;
  flex-direction: column;
  font-size: 1.5vw;
  height: 40%;
  background-color: rgb(67, 163, 215);

  border: 1px solid #d0e0f6;
  border-radius: 10px;
  background-color: #fafbff;
}

.sumbox-title-fac {
  display: flex;
  flex-direction: row;

  height: 50%;

  border-bottom: 1px solid #d0e0f6;
}

.sumbox-title-1-fac {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  width: 40%;

  border-right: 1px solid #d0e0f6;
}

.sumbox-title-2-fac {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  width: 30%;
  border-right: 1px solid #d0e0f6;
}

.sumbox-title-3-fac {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.sumbox-title-3-sub-fac {
  display: flex;
  flex-direction: row;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  height: 50%;
  border-bottom: 1px solid #d0e0f6;
}

.sumbox-title-3-sub-1-fac {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  width: 50%;
  border-left: 1px solid #d0e0f6;
}

.sumbox-title-3-sub-2-fac {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  width: 50%;
}

.sumbox-con-fac {
  display: flex;
  flex-direction: row;
  height: 50%;
}

.sumbox-con-1-fac {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  width: 40%;
  border-left: 1px solid #d0e0f6;
}

.sumbox-con-2-fac {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  width: 30%;
  border-left: 1px solid #d0e0f6;
}

.sumbox-con-3-fac {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  width: 20%;
}

.sumbox-con-4-fac {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  width: 20%;
}

.sumbox-con-4-fac {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  width: 20%;
}

.subtitle-fac {
  display: flex;
  width: 100%;
  height: 10px;
}

.card-content-fac {
  flex-grow: 1;

  border: 1px solid #d0e0f6;
  border-radius: 10px;
  padding: 15px;
  background-color: #fafbff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-direction: row;

  margin-top: 10px;
}

.card-stats-fac {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
  height: 100%;
  flex-shrink: 0;
}

.stat-row-fac {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #e0e0e0; */
  /* padding: 5px; */
  border-radius: 10px;
  height: 30%;
  flex-direction: row;
}

.stat-label-fac {
  font-weight: bold;
  color: #000000;

  width: 40px;
  flex-shrink: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; /* 가로 가운데 정렬 */

  background-color: #ffffff;

  border: 1px solid #d0e0f6;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.stat-value-fac {
  font-weight: bold;
  color: white;
  background-color: #3a80f6;
  padding: 5px 10px;
  border-radius: 5px 0 0 5px;
}

.stat-ma-fac {
  font-weight: bold;
  color: black;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
}

.gauge-container-fac {
  width: 180px;
  height: 300px;
  position: relative;
  flex-grow: 1;
}

.progress-bar-container-fac {
  position: relative;
  width: 260px;
  height: 100%;
  background-color: #e0e0e0;
  flex-grow: 1;

  border: 1px solid #d0e0f6;
  /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; */
  border-radius: 10px;
  background-color: #eaeaea;
}
.progress-label-fac {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 14px;
  color: white;
}

.progress-bar-fac {
  height: 100%;
}

.dx-progressbar-container {
  height: 100%;
}

.dx-trackbar-wrapper.dx-progressbar-wrapper.dx-position-bottom-left {
  height: 100%;
}

.dx-progressbar-range-container {
  height: 100%;
}

.dx-progressbar-range {
  position: relative;
  border: 1px solid #3a80f6;
  background-color: #3a80f6;
  margin-top: -1px;
  box-sizing: content-box;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.progress-current-text {
  color: white; /* 프로그레스 바 안쪽 텍스트 색상 */
  font-weight: bold;
}

.progress-max-text {
  color: black; /* 프로그레스 바 오른쪽 텍스트 색상 */
  font-weight: bold;
}

.dx-progressbar-container {
  height: 100% !important;
}
