<link
  rel="stylesheet"
  href="./src/views/dash/dashFac/dashFac.css?a=12" />

<div class="work-order-content">
  <div class="dashboard-container-fac">
    <div
      class="title-fac"
      onclick="onClickFac()">
      DAS 현황판
    </div>
    <div class="sumbox-fac">
      <div class="sumbox-title-fac">
        <div class="sumbox-title-1-fac">일자</div>
        <div class="sumbox-title-2-fac">작업 시간</div>
        <div class="sumbox-title-3-fac">
          <div class="sumbox-title-3-sub-fac">공정 효율</div>
          <div class="sumbox-title-3-sub-fac">
            <div class="sumbox-title-3-sub-1-fac">당월 평균</div>
            <div class="sumbox-title-3-sub-2-fac">당월</div>
          </div>
        </div>
      </div>
      <div class="sumbox-con-fac">
        <div class="sumbox-con-1-fac">2024082301</div>
        <div class="sumbox-con-2-fac">02:48:19</div>
        <div class="sumbox-con-3-fac">216/hr</div>
        <div
          class="sumbox-con-3-fac"
          id="sumbox-con-3-fac-1">
          18/hr
        </div>
      </div>
    </div>
    <div class="subtitle-fac">작업차수</div>
    <div class="card-content-fac">
      <div class="card-stats-fac">
        <div class="stat-row-fac">
          <span class="stat-label-fac">지점</span>
          <div class="progress-bar-container-fac">
            <div
              id="progressBar_1"
              class="progress-bar-fac"></div>
          </div>
        </div>
        <div class="stat-row-fac">
          <span class="stat-label-fac">SKU</span>
          <div class="progress-bar-container-fac">
            <div
              id="progressBar_2"
              class="progress-bar-fac"></div>
          </div>
        </div>
        <div class="stat-row-fac">
          <span class="stat-label-fac">PCS</span>
          <div class="progress-bar-container-fac">
            <div
              id="progressBar_3"
              class="progress-bar-fac"></div>
          </div>
        </div>
      </div>
      <div class="gauge-container_mask"></div>
      <div
        id="gaugeContainer"
        class="gauge-container-fac"></div>
    </div>
  </div>
</div>
