/* 기본 스타일 */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #bbd5ff;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh; /* 수정: 전체 화면을 채우도록 변경 */
  width: 100%;
}

.side-menu {
  min-width: 200px; /* 최소 너비 설정 */
  width: 250px;
  background-color: #007bff;
  color: white;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.side-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-menu ul li {
  padding: 15px 20px;
  cursor: pointer;
  border-bottom: 1px solid #006fe6;
}

.side-menu ul li:hover {
  background-color: #0056b3;
}

.side-menu ul .submenu {
  display: none;
  list-style: none;
  padding-left: 20px;
  background-color: #0056b3;
}

.side-menu ul .submenu li {
  padding: 10px 15px;
  border-bottom: 1px solid #004a99;
}

.side-menu ul .submenu li:hover {
  background-color: #003f7a;
}

/* 탭 컨테이너 */
#tabContainer {
  display: flex;
  align-items: center;

  padding: 0px;
  background-color: #f1f1f1;
  border-radius: 20px;
}

/* 개별 탭 스타일 */
.tab {
  height: 45px;
  width: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0px;
  margin: 0px;
  font-size: 14px;
  color: #8aa0c9;
  background-color: #f8fbff;
  cursor: pointer;
  transition: background-color 0.3s;

  /* border: 1px #e2ecf9; */

  border: 1px solid #e2ecf9 !important;
}

.tab.start {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.tab.middle {
}

.tab.last {
  /* border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; */
}

.tab.active {
  background-color: #1549dd; /* 활성화된 탭 색상 */
  color: white;

  border: 1px solid #1549dd !important;
}

/* 닫기 버튼 스타일 */
.tab.close-tab {
  margin-left: 10px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

/* 닫기 버튼 스타일 */
.close-tab {
  margin-left: 10px;
}

/* 메인 콘텐츠 영역 */
#mainContent {
  padding-top: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  flex-direction: column;
  display: flex;
}

.content {
  display: flex;

  padding-left: 8px;
  padding-right: 8px;
  padding-top: 10px;
  padding-bottom: 10px;

  width: 100%;
}

.inner-content {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 20px;
  background-color: white;
  width: 100%;
}

.content-view {
  height: 100%;
}

.hidden {
  display: none;
}

/* 반응형 스타일 */
@media (max-width: 768px) {
  .side-menu {
    width: 60px;
  }

  .side-menu ul li {
    text-align: center;
    padding: 10px 0;
  }

  .side-menu ul li:hover .submenu {
    display: block;
    position: absolute;
    left: 60px;
    top: 0;
    width: 180px;
  }

  .submenu {
    display: block;
  }
}

@media (min-width: 769px) {
  .side-menu {
    width: 250px;
  }

  .side-menu ul li:hover .submenu {
    display: block;
  }
}
