
<link rel="stylesheet" href="./src/views/spiral/error/errorList.css" />

<div class="work-order-content">
  <div id="filterForm">
    <div class="dx-field search-date">
      <div class="dx-field-label search-date-label">조회일자</div>
      <div class="dx-field-value search-date-calendar">
        <div id="range-selection"></div>
      </div>
    </div>
    <div class="dx-field search-field">
      <div class="dx-field-label search-field-label">SSCC</div>
      <div class="dx-field-value search-field-box">
        <div id="simple"></div>
      </div>
    </div>

    <div id="buttonsContainer">
      <button
        id="default-contained"
        class="dx-button"
        data-id="조회">
        조회
      </button>
      
    </div>
  </div>
  <div id="contentForm">
    <div
      id="workOrderGrid"
      class="workOrderGrid"></div>
      <div id="tooltipContainer"></div>
  </div>
</div>