<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>작업 이력 조회</title>
    <link rel="stylesheet" href="/src/lib/devextreme/css/dx.light.css" />
    <link rel="stylesheet" href="../../css/main.css" />
    <link rel="stylesheet" href="/src/views/common/popup.css" />
    <link rel="stylesheet" href="/src/css/common.css" />
    <link rel="stylesheet" href="./workList.css" />
    
  </head>
  <body>
    <div class="container">
      <div id="sideMenu" class="side-menu">
        <ul>
          <li class="on"><a href="../../views/work/workList.html">작업 이력 조회</a></li>
          <li><a href="../../views/error/errorList.html">에러 데이터 조회</a></li>
          <li><a href="../../views/master/masterCode.html">분류 마스터 코드 관리</a></li>
        </ul>
      </div>
      <div class="content">
        <div class="inner-content">
          <div id="tabContainer" class="tab-container"></div>
          <div id="mainContent" class="main-content">
            <div class="work-order-content">
              <div id="filterForm">
                <div class="dx-field search-date">
                  <div class="dx-field-label search-date-label">조회일자</div>
                  <div class="dx-field-value search-date-calendar">
                    <div id="range-selection"></div>
                  </div>
                </div>
                <div class="dx-field search-field">
                  <div class="dx-field-label search-field-label">SSCC</div>
                  <div class="dx-field-value search-field-box">
                    <div id="simple"></div>
                  </div>
                </div>
            
                <div id="buttonsContainer">
                  <button id="default-contained" class="dx-button" data-id="조회">
                    조회
                  </button>
                </div>
              </div>
              <div id="contentForm">
                <div
                  id="workOrderGrid"
                  class="workOrderGrid"></div>
                  <div id="tooltipContainer"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <script src="/src/lib/devextreme/js/jquery.min.js"></script>
    <script src="/src/lib/devextreme/js/dx.all.js"></script>
    <script src="../../js/devextreme-license.js"></script>
    <script src="/src/lib/js.cookie.min.js"></script>
    <script src="/src/views/common/popup.js"></script>
    <script src="../../views/work/workList.js"></script>
    <script src="../../js/app.js"></script>
  </body>
</html>
