<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="./login.css" />
    <!-- jQuery 추가 -->
    <script src="../../../src/lib/devextreme/js/jquery.min.js"></script>
    <script src="../../../src/lib/devextreme/js/dx.all.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <script src="../../../src/lib/js.cookie.min.js"></script>
  </head>
  <body>
    <div class="login-container">
      <div class="login-box">
        <form
          id="loginForm"
          onsubmit="return false;">
          <div class="input-container">
            <i class="dx-icon dx-icon-user"></i>
            <input
              type="text"
              id="username"
              placeholder="Username"
              required />
          </div>
          <div class="input-container">
            <i class="dx-icon dx-icon-lock"></i>
            <input
              type="password"
              id="password"
              placeholder="Password"
              required />
          </div>
          <button
            type="button"
            id="loginBtn"
            class="login-btn">
            Sign in
          </button>
        </form>
      </div>
    </div>

    <!-- Error popup -->
    <div
      id="errorPopup"
      class="error-popup hidden">
      <div class="error-message">
        <p>로그인 실패</p>
        <span>계정을 입력하십시오</span>
        <button onclick="closePopup()">확인</button>
      </div>
    </div>

    <div id="networkPopup"></div>

    <script src="../../lib/devextreme/js/jquery.min.js"></script>
    <script src="../../lib/devextreme/js/dx.all.js"></script>

    <script src="../../lib/exceljs.min.js"></script>
    <script src="../../lib/FileSaver.min.js"></script>

    <script src="../../lib/js.cookie.min.js"></script>

    <script src="../../views/common/popup.js"></script>

    <!-- login.js 스크립트 추가 -->
    <script src="../../lib/js.cookie.min.js"></script>
    <script
      type="module"
      src="./login.js?a=3434"></script>
  </body>
</html>
