<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Login tmp</title>
    <link
      rel="stylesheet"
      href="../../lib/devexpress/css/dx.light.css" />
    <link
      rel="stylesheet"
      href="./login.css" />
    <script src="../../lib/devexpress/js/jquery.min.js"></script>
    <script src="../../lib/devexpress/js/dx.all.js"></script>
  </head>
  <body>
    <div
      id="loginContainer"
      class="login-container">
      <div class="login-bg-img d-flex justify-center align-center">
        <div
          id="loginLayout"
          class="login-layout d-flex justify-center align-center">
          <div
            id="loginCard"
            class="login-card">
            <div
              id="loginBody"
              class="login-body">
              <div class="login-form">
                <div id="usernameField"></div>
                <div id="passwordField"></div>
                <div id="loginButton"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="./login.js"></script>
  </body>
</html>
