<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="./login.css" />

    <script src="../../lib/devextreme/js/jquery.min.js"></script>
    <script src="../../lib/js.cookie.min.js"></script>
    <script src="../../lib/devextreme/js/dx.all.js"></script>

    <script src="../../lib/exceljs.min.js"></script>
    <script src="../../lib/FileSaver.min.js"></script>
  </head>
  <body>
    <div class="login-container">
      <div class="login-box">
        <form
          id="loginForm"
          onsubmit="return false;">
          <div class="input-container">
            <i class="dx-icon dx-icon-user"></i>
            <input
              type="text"
              id="username"
              placeholder="Username"
              required />
          </div>
          <div class="input-container">
            <i class="dx-icon dx-icon-lock"></i>
            <input
              type="password"
              id="password"
              placeholder="Password"
              required />
          </div>
          <button
            type="button"
            id="loginBtn"
            class="login-btn">
            Sign in
          </button>
        </form>
      </div>
    </div>

    <div id="dynamicPopup"></div>
    <div id="networkPopup"></div>
    <div id="errorPopup"></div>

    <script src="../../views/common/popup.js"></script>

    <script src="../../lib/js.cookie.min.js"></script>
    <script
      type="module"
      src="./login.js?a=3434"></script>
  </body>
</html>
