<link
  rel="stylesheet"
  href="./src/views/avg/sorterBoxMapping/sorterBoxMapping.css?a=3" />

<div class="work-order-content">
  <div class="headerBoxMapping">
    <!-- <span
      class="printstate"
      onclick="onClickKioskPrint()"
      >P</span
    > -->
    <div class="title"><span></span></div>

  </div>

 
  <div class="boxMappingContainer">
    <div class="boxcode-section">
      <span class="sorter-code-title">박스코드</span>
      <div id="txtBoxBarcode">
       
      </div>
    </div>
    <div class="location-section">
      <span class="sorter-code-title">로케이션</span>
      <div id="txtLocBarcode">
        
      </div>
    </div>
    <div class="message-section">
      <span class="sorter-code-title">성공여부</span>
      <div id="message">
      
      </div>
    </div>
    
  </div>

 
</div>
