<link
  rel="stylesheet"
  href="./src/views/mast/mastUser/mastUser.css?a=12" />

<div class="work-order-content">
  <div id="filterForm">
    <div
      id="txtBoxSearch"
      class="filter-item"></div>

    <div id="buttonsContainer">
      <button
        id="btnSearch"
        class="dx-button btntype-c"
        data-id="조회">
        조회
      </button>
      <button
        id="btnAdd"
        class="dx-button btntype-c"
        data-id="추가">
        추가
      </button>
      <button
        id="btnDel"
        class="dx-button btntype-c"
        data-id="삭제">
        삭제
      </button>
    </div>
  </div>
  <div id="contentForm">
    <div
      id="workOrderGrid"
      class="workOrderGrid"></div>
  </div>
  <div id="dynamicPopup"></div>
</div>
